.conteudo-cardapio {
    width: 940px;
    margin: 0 auto;
}

.cardapio-titulo {
    font-size: 4rem;
    text-align: center;
    margin: 60px 0 30px 0;
    color: #FFFFFF;
}

.cardapio-texto {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.cardapio-opcao {
    box-sizing: border-box;
    display: inline-block;
    width:26%;
    cursor: pointer;
    transition: 500ms;
    margin: 20px 60px 50px 0;
    text-align: center;
}

.cardapio-opcao:hover {
    transform: scale(1.1);
}

.cardapio-nome {
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.cardapio-imagem {
    border-radius: 10px;
    width: 100%;
    height: 55vh;
}

.cardapio-descricao {
    font-size: 1.3rem;
    margin: 10px 0;
    color: #FFFFFF;
    padding: 0 15px;
}

@media screen and (min-width: 280px) and (max-width: 599px) {
    .conteudo-cardapio {
        width: auto;
    }

    .cardapio-opcao {
        display: block;
        width: 80%;
        margin: 50px auto;
    }

    .cardapio-descricao {
        font-size: 1.6rem;
    }
}