.conteudo-principal {
    background-color: #C3743A;
}

.conteudo-banner {
    width: 100%;
}

@media screen and (min-width: 280px) and (max-width: 599px) {
    .conteudo-banner {
        height: 50vh;
    }
}