.conteudo-rodape {
    background-color: #8B4513;
    padding: 100px 0;
}

.rodape-redes-sociais {
    position: relative;
    top: 60px;
    margin-left: 40px;
}

.rede-social-logo {
    width: 5%;
    height: 10vh;
    margin-left: 10px;
    transition: 500ms;
}

.rede-social-logo:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 200px) and (max-width: 344px) {
    .rodape-redes-sociais {
        margin: 0;
        text-align: center;
    }

    .rede-social-logo {
        display: block;
        width: auto;
        margin: 30px auto;
        position: relative;
        bottom: 50px;
    }
}

@media screen and (min-width: 345px) and (max-width: 599px) {
    .rodape-redes-sociais {
        margin: 0;
        text-align: center;
    }

    .rede-social-logo {
        display: block;
        width: auto;
        margin: 30px auto;
        position: relative;
        bottom: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
    .rede-social-logo {
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .rede-social-logo {
        width: auto;
    }
}