.conteudo-sobre {
    text-align: center;
}

.conteudo-sobre {
    width: 940px;
    margin: 0 auto;
}

.sobre-titulo {
    font-size: 6rem;
    margin: 90px 0 30px 0;
    color: #FFFFFF;
}

.sobre-texto {
   font-size: 1.6rem;
   line-height: 30px;
   margin: 10px 0;
   padding: 0 50px;
   color: #FFFFFF;
}

.sobre-imagem {
    margin-top: 30px;
    height: 85vh;
    border-radius: 10px;
    box-shadow: 10px 10px #313131;
}

@media screen and (min-width: 280px) and (max-width: 599px) {
    .conteudo-sobre {
        width: auto;
    }

    .sobre-titulo {
       font-size: 5rem;
    }

    .sobre-texto {
        padding: 0 20px;
    }

    .sobre-imagem {
        height: 40vh;
        width: 80%;
    }
}